*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

/* section 1 */

/* nav bar */
.header{
    background-color: #1f2937;
    color: #F9FAF8;
    padding: 1em 13em;
}
.logo{
    font-weight: bolder;
    font-size: 24px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

ul{
    list-style: none;
    display: flex;
    gap: 16px;
}

a{
    text-decoration: none;
    color:  #F9FAF8;
    font: 18px;
}

/* header  */
.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em 0;
}



/* header left */
.welcome .landing{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* header right */
.welcome .landing-right{
    flex-shrink: 0;
    width: 50%;
}

.landing .hero{
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}


button{
    padding: 7px 1em;
    width: 120px;
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
}

/* header button  */
.welcome button{
    border:none;
}

/* header img */
.landing-right .imgone{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 0 13em;
}


/* section 2 -photo*/
.main{
    background-color: powderblue;
}

/* secion 3 - quote */
.quote{
    background-color: teal;
}

/* section 4 - call to action */
.action{
    background-color: brown;
}

/* section 5-footer */
.footer{
    background-color: slateblue;
}